/* select menu dans accueil et select plat dans menu */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    font-size: 80px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    font-size: 100px;
  }
}
@keyframes bg-spin {
  0%, 80% {
    background-color: #ffffff;
    z-index: 13;
  }
  100% {
    display: none;
    background-color: transparent;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animated-menu {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 70px;
  }
}
@keyframes check {
  0% {
    display: inline-block;
    transform: translateX(70px);
  }
  100% {
    display: inline-block;
    transform: translateX(0px);
  }
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-btn__explore {
  font-size: 120%;
  border-radius: 70px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-style: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  cursor: pointer;
  color: #ffffff;
  padding: 18px 15px;
  margin: 20px 0px;
  transform: scale(1);
  transition: transform 200ms;
}
.main-btn__explore:hover {
  transform: scale(1.15);
}
.main-btn__explore:focus {
  transform: scale(1.15);
}

.main-btn__order {
  font-size: 120%;
  border-radius: 70px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-style: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  cursor: pointer;
  color: #ffffff;
  flex-basis: 20%;
  padding: 15px 30px;
  margin: 40px 0px;
  transform: scale(1);
  transition: transform 200ms;
}
.main-btn__order:hover {
  transform: scale(1.15);
}
.main-btn__order:focus {
  transform: scale(1.15);
}

.btn-return {
  font-size: 20px;
  position: absolute;
  left: 20px;
}
.btn-return--hidden {
  display: none;
}

.newsflash {
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 7px;
  z-index: 1;
  margin-top: 2%;
  margin-left: 65%;
  position: absolute;
  text-transform: capitalize;
}
.newsflash__1 {
  display: inline-flex;
}
.newsflash__2 {
  display: inline-flex;
}
.newsflash__3 {
  display: none;
  background-color: #ee8368;
  color: #7c240e;
  text-transform: uppercase;
  margin-left: 55%;
}
.newsflash__4 {
  display: none;
}

.heart-box {
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.empty-heart {
  z-index: 1;
  font-size: 25px;
  transition: color 500ms;
}

.empty-heart .input-heart:checked {
  color: transparent;
  font-weight: 900;
  animation: heart 2s both;
  background-image: linear-gradient(#9356DC, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 2;
}

.spin {
  position: fixed;
  width: 100%;
  height: 100%;
  animation: bg-spin 8s;
  z-index: -10;
}

.fa-spinner {
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: absolute;
  animation: spin 2s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  background-image: linear-gradient(#ff79da, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.f {
  flex-basis: 100%;
  background-color: #242424;
  color: #ffffff;
  padding: 20px 20px 20px 20px;
}
.f__logo {
  width: 100%;
  filter: invert(100%);
  inline-size: 120px;
}
.f__list {
  list-style-type: none;
  color: inherit;
  padding-inline-start: 0px;
}
.f__list > li {
  line-height: 4vh;
}

.i-footer {
  color: white;
  padding-right: 10px;
}
.i-footer--small {
  width: 25px;
  height: 20px;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.img__header {
  inline-size: 150px;
}

.bg-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  margin: -20px 0px -40px 0px;
}

.main {
  background-color: #f2f2f2;
}
.main__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f2f2f2;
  z-index: 1;
  position: relative;
  background-clip: border-box;
  flex-basis: 100%;
  margin: -15px 0px 0px 0px;
}

.main__title {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  font-weight: 100;
  padding: 10px 20px 0px 20px;
}

.section-title__homepage {
  font-size: 28px;
  font-weight: 600;
}
.section-title__menu {
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: darkgrey;
  font-size: 18px;
  border-block-end: solid #99E2D0 3px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
  margin: 5px;
}

.bloc__restaurant {
  display: flex;
  flex-flow: wrap column;
  padding: 40px 20px;
}

.bloc__menu {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.animated-menu {
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  padding: 0px 10px;
}

.animated-menu.first {
  animation: animated-menu 1000ms steps(6);
}

.animated-menu.second {
  animation: animated-menu 1500ms steps(4);
}

.animated-menu.third {
  animation: animated-menu 2000ms steps(1);
}

.card {
  display: flex;
  flex-flow: column wrap;
  height: 280px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  margin: 15px 0px;
  z-index: 2;
  background-color: #ffffff;
}

.card__menu {
  max-width: 260px;
  height: 70px;
  display: flex;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  margin: 5px 0px;
  background-color: #ffffff;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  z-index: 3;
  text-overflow: ellipsis;
  cursor: pointer;
}
.card__menu .card__menu:hover > .check {
  animation: check 2s;
}

.price {
  padding: 30px 10px;
  font-size: 15px;
  font-weight: 500;
}

.check {
  display: none;
  justify-self: flex-end;
  min-width: 70px;
  height: inherit;
  background-color: #99E2D0;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  margin-right: -10px;
  margin-left: 10px;
  transform: translateX(-20px);
  transition: transform 10s;
}

.price:hover + .check {
  display: inline-block;
  animation: check 2s;
  transform: translateX(0px);
}

.fa-check-circle {
  transform: rotate(360deg);
  transition: transform 2000ms;
  font-weight: 800;
  position: relative;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  color: #ffffff;
  background-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 25px;
}
.fa-check-circle .fa-check-circle + .check {
  transform: rotate(180deg);
}

.presentation {
  display: flex;
  flex-flow: column nowrap;
  line-height: 5px;
}

.presentation__menu {
  min-width: 130px;
  display: flex;
  flex-flow: column nowrap;
  line-height: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-title {
  display: inline;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-block-end: 0px;
  margin-block-start: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: clip;
}

.card-subtitle {
  display: inline;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding: 10px 0px;
  font-size: 15px;
  color: #4d4d4d;
  text-overflow: ellipsis;
  overflow-x: clip;
  white-space: nowrap;
}

.restaurant__Img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  image-rendering: crisp-edges;
  object-fit: cover;
}

.restaurant__Heading {
  height: 50px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.bloc__fct {
  background-color: #ffffff;
  padding: 25px 15px 50px 15px;
}

.fct__step {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.i-fct {
  color: #9356DC;
  padding-left: 30px;
}

.number {
  width: 7%;
  height: 20px;
  padding-top: 3px;
  margin-right: -15px;
  z-index: 2;
  border-radius: 100%;
  color: #ffffff;
  background: #9356DC;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.btn__fct {
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  border-style: none;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  padding: 10px 0px;
  z-index: 1;
}

.btn__fct:hover {
  background-color: #f2eafb;
}

.formulaire {
  text-align: center;
}
.formulaire__search {
  background-color: #e4e4e4;
  padding: 15px 0px;
  border-top: solid 3px #b8b8b8;
}
.formulaire__logo {
  font-size: 120%;
}
.formulaire__heading {
  overflow: visible;
  text-align: center;
  font-weight: 500;
  padding: 25px 0px;
}
.formulaire__heading__title {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
}
.formulaire__heading__subtitle {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

.search {
  font-size: 120%;
  font-weight: 700;
  background-color: #e4e4e4;
  border-style: none;
  margin: 0px 10px;
}

@media all and (min-device-width: 981px) {
  .main {
    display: flex;
    flex-flow: row wrap;
  }

  .formulaire {
    flex: 3;
    flex-basis: 100%;
  }

  .bloc__fct {
    flex: 1;
  }

  .bloc__restaurant {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
  }

  .all_cards {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: space-evenly;
  }

  .card {
    width: 30%;
    margin: 15px;
  }

  .card__menu {
    max-width: 80%;
    margin: 5px 50px;
  }

  .newsflash {
    margin-top: 1%;
    margin-left: 15%;
  }
}
@media all and (min-device-width: 728px) and (max-device-width: 981px) {
  .fct__step {
    left: 25%;
    width: 50%;
    text-align: center;
    position: relative;
  }

  .bloc__menu {
    width: 80%;
  }

  .all_cards {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
  }

  .card {
    flex: 1;
    flex-basis: 30%;
    margin: 15px;
  }

  .card__menu {
    max-width: 100%;
    margin: 5px;
  }

  .newsflash {
    margin-top: 2%;
    margin-left: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
