@charset "UTF-8";
/* select menu dans accueil et select plat dans menu */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.main-btn__explore {
  font-size: 120%;
  border-radius: 70px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-style: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  cursor: pointer;
  color: #ffffff;
  padding: 18px 15px;
  margin: 20px 0px;
}

.main-btn__order {
  font-size: 120%;
  border-radius: 70px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-style: none;
  background: linear-gradient(to bottom right, #ff79da, #9356DC);
  cursor: pointer;
  color: #ffffff;
  padding: 18px 15px;
  margin: 20px 0px;
}

.btn-return__homepage {
  display: none;
}
.btn-return__menu {
  font-size: 20px;
  position: absolute;
  left: 20px;
}

.btn__fct {
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  border-style: none;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  background-color: #f2f2f2;
  text-align: center;
  font-weight: 500;
  padding: 10px 0px;
  z-index: 1;
}

.btn__fct:hover {
  background-color: #f2eafb;
}

.f {
  background-color: #242424;
  color: #ffffff;
  padding: 20px 20px 20px 20px;
}
.f__logo {
  filter: invert(100%);
  inline-size: 35%;
}
.f__list {
  list-style-type: none;
  color: inherit;
  padding-inline-start: 0px;
}
.f__child-list {
  line-height: 4vh;
}

.i-footer {
  color: white;
  padding-right: 5px;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.img__header {
  inline-size: 150px;
}

.bg-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  margin-top: -20px;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  background-color: #f2f2f2;
}
.main__menu {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 20px;
  background-color: #f2f2f2;
}

.formulaire {
  text-align: center;
}
.formulaire__search {
  background-color: #e4e4e4;
  padding: 15px 0px;
  border-top: solid 3px #b8b8b8;
}
.formulaire__logo {
  font-size: 120%;
}
.formulaire__heading {
  overflow: visible;
  text-align: center;
  font-weight: 500;
  padding: 25px 0px;
}
.formulaire__heading__title {
  width: 100%;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
}
.formulaire__heading__subtitle {
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
}

.search {
  font-size: 120%;
  font-weight: 700;
  background-color: #e4e4e4;
  border-style: none;
  margin: 0px 10px;
}

.bloc__fct {
  background-color: #ffffff;
  padding: 25px 15px 50px 15px;
}

.section-title__homepage {
  font-size: 28px;
  font-weight: 600;
}
.section-title__menu {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(64, 64, 64, 0.9490196078);
  font-size: 20px;
  text-decoration: underline #99E2D0 3px;
  display: flex;
  flex-flow: wrap row;
  gap: 20px;
}

.fct__step {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.fa-spinner {
  color: #9356DC;
  transform: rotate(360deg);
}

.i-fct {
  color: #9356DC;
  padding-left: 30px;
}

.number {
  width: 7%;
  height: 20px;
  padding-top: 3px;
  margin-right: -15px;
  z-index: 2;
  border-radius: 100%;
  color: #ffffff;
  background: #9356DC;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.bloc__restaurant {
  display: flex;
  flex-flow: wrap column;
  padding: 40px 20px;
}

.bloc__entry {
  display: flex;
  flex-flow: wrap column;
  padding: 10px 10px;
}

.card {
  height: 280px;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  margin: 15px 0px;
  z-index: 2;
  background-color: #ffffff;
}

.card__menu {
  height: 80px;
  display: flex;
  box-shadow: 5px 5px 5px #e4e4e4;
  border-radius: 20px;
  margin: 10px 0px;
  background-color: #ffffff;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  cursor: pointer;
}

.newsflash__new {
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 7px;
  z-index: 1;
  position: absolute;
  margin-top: 15px;
  margin-left: 200px;
}

.restaurant__Img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.restaurant__Heading {
  height: 50px;
  padding: 0px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.presentation {
  line-height: 5px;
}

.presentation__menu {
  line-height: 10px;
}

.fa-heart::before {
  text-align: center;
  position: relative;
  width: 10%;
  height: 40px;
  font-size: 150%;
  clip-path: fill-box;
  cursor: pointer;
}

.\:active {
  color: transparent;
  content: icon;
}

.fa-heart {
  background-image: linear-gradient(#ff79da, #9356DC);
}

.check {
  margin: 10px;
  width: 30%;
  background-color: #99E2D0;
}

.fa-check-circle {
  color: invert;
  background-color: #ffffff;
  transform: rotate(0°);
  transition: rotate 200ms 1s;
  transform: rotate(180°);
  transform: scaleX(0) rotate(0°);
  transition: transform 2000ms;
}
.fa-check-circle :hover {
  transform: scaleX(left 30px) rotate(180°);
}

.price {
  text-align: center;
  position: relative;
  transition: background 2000ms;
  transform: background;
}

@media all and (min-device-width: 981px) {
  .card {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
