
@import "./utils/_variables.scss";
@import "./utils/keyframes.scss";
@import "./utils/_mixin.scss";
@import "./utils/_functions.scss";
@import "./base/_base.scss";
@import "./base/_typography";
@import "./components/_buttons.scss";
@import "./components/_animated-buttons.scss";
@import "./layouts/_footer.scss";
@import "./layouts/_header.scss";
@import "./layouts/_container.scss";
@import "./pages/_fonctionement.scss";
@import "./pages/_form.scss";

@media all and (max-device-width: 728px){
     }
@media all and (min-device-width: 981px){

    .main{
        display: flex;
        flex-flow: row wrap;
    }
    .formulaire{
        flex: 3;
        flex-basis: 100%;
    }
    .bloc__fct{
        flex: 1;
    }
    .bloc__restaurant{
        flex: 2;
        background-color: #ffffff;
        padding: 20px;

    }
    .all_cards{
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
        justify-content: space-evenly;
    }
    .card{
        width: 30%;
        margin:15px;
    }
    .card__menu{
        max-width: 80%;
        margin: 5px 50px;
    }
    .newsflash{
        margin-top: 1%;
        margin-left: 15%;
    }
}
@media all and (min-device-width:728px) and (max-device-width: 981px){
    .fct__step{
        left: calc(50% - 25%);
        width: 50%;
        text-align: center;
        position: relative;
    }
    .bloc__menu{
        width: 80%;
    }
    .all_cards{
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
    }
    .card{
        flex: 1;
        flex-basis: 30%;
        margin:15px;
    }
    .card__menu{
        max-width: 100%;
        margin: 5px;
    }
    .newsflash{
        margin-top: 2%;
        margin-left: 33%;
    }
}