.main-btn__explore{
    @include main-button;           
    padding: 18px 15px;
    margin: 20px 0px;
}
.main-btn__order{
    @include main-button;
    padding: 15px 30px; 
    margin: 40px 0px;    
}
.btn-return{
    &__homepage{
        display:none
    }
    &__menu{
        font-size: 20px;
        position: absolute;
        left: 20px;
    }
}
.newsflash__new{
    background-color: #99E2D0;
    color: darken($color:#99E2D0, $amount: 40%);
    font-weight: 500;
    font-size: 14px;
    padding: 5px 7px;
    z-index: 1;
    position: absolute;
    margin-top: 15px;
    margin-left: 280px;                         
}
.fa-heart::before{
    text-align: center;
    position: relative;
    width:10%;
    height: 40px;
    font-size:150%;clip-path: fill-box;    
    cursor: pointer;
           
}
.\f004\:active{
    //clip-path: view-box;
    //fill: #ff79da,#9356DC ;
    color: transparent;
    content:icon;            
}
.fa-heart{
    
    background-image:  linear-gradient(#ff79da, #9356DC);
}