.main-btn__explore, .main-btn__order{
    @include main-button;  
}
.btn-return{
    font-size: $font-size-icon;
    position: absolute;
    left: 20px;
    &--hidden{
        display:none
    }
}
.newsflash{
    margin-top: 2%;
    margin-left: 65%; 
    padding: 5px 7px;
    font-weight: 500;
    font-size: $font-size-newsflash;
    position: absolute;
    z-index: 1;
    &--new{
        display: inline-flex;
        @include newsflash-new;
    }
    &--sale{
        display: inline-flex;
        @include newsflash-sales;
    }                     
}
