.bloc__menu{
    width: 100%;
 }
.animated-menu{
    display:flex;
    width: 90%;
    flex-flow: column;
    padding: 0px 10px; 
    margin: 0px;   
}
.menu-list{
    height:60px;
    display: flex;
    @include border-shadow-radius;
    margin: 5px 0px;
    background-color: #ffffff;
    flex-flow:row nowrap;
    justify-content: space-between; 
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer; 
}
.presentation__menu{
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
}
.price{ 
    align-self: flex-end;
    margin:10px;
    font-size: $font-size-text-low;
    font-weight: 500; 
}