@keyframes spin{    
    0% {
        transform: rotate(0deg);
        opacity: 1;
        font-size: 60px;         
    }
    50% {
        transform: rotate(200deg);
        font-size: 80px;
        opacity: 0.5;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        font-size: 100px;
    }
}
@keyframes bg-spin{
    0%, 80%{
        background-color: #ffffff;
        z-index: 13;        
    }
    100%{
        display: none;
        background-color: transparent;
    }
}
@keyframes heart{
    0%{
        opacity:0;        
    }
    100%{
        opacity:1;
    }
}
@keyframes animated-menu{
    0%{
        opacity:0; 
    }
    30%{
        opacity: 0.25;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}
.animated-menu.first{
    animation:animated-menu 1s 100ms ;
}
.animated-menu.second{
    animation:animated-menu 2s  200ms ;
}
.animated-menu.third{
    animation:animated-menu 3s 300ms ;
}
