@keyframes spin{    
    0% {
        transform: rotate(0deg);
        opacity: 1;
        font-size: 80px;         
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
        font-size: 100px;
    }
}
@keyframes bg-spin{
    0%, 80% {
        background-color: #ffffff;
        z-index: 13;        
    }
    100%{
        display: none;
        background-color: transparent;
    }
}
@keyframes heart{
    0%{
        opacity:0;        
    }
    100%{
        opacity:1;
    }
}
@keyframes animated-menu{
    0%{
         opacity:0; 
         width: 0;
     }
     100%{
         opacity:1;
         width: 70px;
     }
}
@keyframes check{    
    0% {
        //transform: rotate(180deg); 
        width: 0px;    
    }
    100%{
        //transform: rotate(360deg);
        width: 70px; 
    }
}