
@mixin border-shadow-radius {
    box-shadow:5px 5px 5px #e4e4e4;
    border-radius: 20px;
}
@mixin main-button{
    font-size: 120%;
    border-radius: 70px;
    box-shadow: 5px 5px 5px #e4e4e4 ;
    border-style: none;        
    background: linear-gradient(to bottom right,#ff79da, #9356DC);
    cursor: pointer;
    color: #ffffff; 
}

