
/* select menu dans accueil et select plat dans menu */
$bg-color-newsflash-underline-check-menu:#99E2D0;
$color-functional-icon: #9356DC;
$bg-color-gradient:#9356DC, #ff79da;

$font-size-main-button:18px;
$font-size-newsflash:14px;
$font-size-icon:25px;
$font-size-text-hight:28px;
$font-size-text-medium:18px;
$font-size-text-low:15px;
