
/* select menu dans accueil et select plat dans menu */
$color-select-menu:#99E2D0;
/* couleur titre menu */
$color-underline-menu:#99E2D0;

$color-functional-icon: #9356DC;
$color-gradient:#9356DC;
$color-gradient-button: #ff79da;


