
.main{
    background-color: #f2f2f2;
    &__menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: #f2f2f2;
        z-index: 1;
        position:relative;
        background-clip: border-box;
        flex-basis: 100%;
        margin: -15px 0px 20px 0px;                  
    }
}
.main__title{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 20px 0px 20px;    
}
.section-title{
    &__homepage{
        font-size: 28px;
        font-weight: 600;
    }
    &__menu{
        width: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        //color: darken($color: #f2f2f2f2, $amount: 70%);
        color: darkgrey;
        font-size: 18px;
        border-block-end:solid $bg-color-newsflash-underline-check-menu 3px ;
        padding-bottom: 5px;
        display: flex;
        flex-flow: wrap row;
        gap: 20px;
        margin: 5px;
    }
}
.bloc__restaurant{
    display:flex;
    flex-flow:wrap column;
    padding: 40px 20px;  
}
 .bloc__menu{
    display:flex;
    flex-flow: row;
    width: 100%;
    //pour media queries changer la taille de width seulement, cela devrait marcher
 }
.animated-menu{
    display:flex;
    flex-flow: column;
    ///@mediaqueries v.tablet or deskto :flex-flow:column;
    flex-basis: 100%;
    padding: 0px 10px;
    //animation:animated-menu 1s steps(2) ;
    //animation-timing-function: ease-in-out;
    //animation-direction: alternate;
    
}
.animated-menu.first{
    animation:animated-menu 2s steps(3);
    animation-delay: 0s;
}
.animated-menu.second{
    animation:animated-menu 3s steps(2) 500ms;
    animation-delay: 0s;
}
.animated-menu.third{
    animation:animated-menu 4s steps(1) 1000ms ;
    animation-delay: 0s;
}

.card{
    display: flex;
    flex-flow: column wrap;
    height:280px;
    @include border-shadow-radius;
    margin: 15px 0px; 
    z-index: 2;
    background-color: #ffffff;
}
.card__menu{
    height:70px;
    display: flex;
    @include border-shadow-radius;
    margin: 5px 0px;
    background-color: #ffffff;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: space-between; 
    padding: 0px 10px;
    cursor: pointer;
    .card__menu:active{
        +.check {
            display: block;
            animation: check 2s;
         }
    } 
}
.presentation{   
    line-height: 15px;
}
.presentation__menu{
    display: block;
    line-height: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    //overflow-block: hidden; pas pris en compte
    //overflow-inline: hidden; pas pris en compte
    //overflow-inline: clip;  pas pris en compte
    flex-wrap: nowrap;
    line-break: strict;
    //word-wrap: nowrap; pas pris en compte
}
.card-title{
    padding:10px 0px;
    font-size: 18px;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
    text-overflow: ellipsis;
    overflow-block: hidden;
    overflow-inline: hidden;
    overflow-inline: clip;
    
    overflow-x: hidden;
    line-break: strict;
    word-wrap: nowrap;
}
.card-subtitle{
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 10px 0px;
    font-size: 15px;
    color: lighten($color: #000000, $amount: 30%);
    text-overflow: ellipsis;
    overflow-x: hidden;
    //overflow-block: hidden;  refusé
    //overflow-inline: hidden;  refusé
    //overflow-inline: clip;  refusé
    word-wrap: nowrap;
    line-break: strict;
}
.restaurant__Img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.restaurant__Heading{
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-between; 
}

.check{
    display: none;
    width: 70px;
    height: inherit;
    background-color: #99E2D0;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    margin-right: -10px;
}
// .fa-check-circle{    
//     font-weight: 800;
//     position: relative ;
//     top: calc(50% - 15px);
//     left: calc(50% - 15px);
//     color: #ffffff;
//     background-color:transparent ;
//     background-clip: text; 
//     -webkit-background-clip: text;
//     font-size: 25px;   
//     :hover{
//         //transform: rotate(360deg); 
//         animation: check 5s linear; 
//     }
//  }
// .price{
//     font-size: 15px;
//     text-align: center;
//     position: relative;  
//     font-weight: 500;
//     //transition: background 2000ms;
//     //transform: background;
// }

