.main{
    background-color: #f2f2f2;
    &__menu{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: #f2f2f2;
        z-index: 1;
        position: absolute;
        background-clip: border-box;
        flex-basis: 100%;
        margin: -15px 0px 20px 0px;
        opacity: 1;
        transform: opacity ;
        transition: transform 1000ms 150ms;
        :hover{
            opacity:  0;
        }          
    }
}
.main__title{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shrikhand', cursive;
    font-size: 15px;
    font-weight: 100;
    padding: 10px 20px 0px 20px;    
}
.section-title{
    &__homepage{
        font-size: 28px;
        font-weight: 600;
    }
    &__menu{
        width: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        color: darken($color: #f2f2f2f2, $amount: 70%);
        font-size: 18px;
        border-block-end:solid $bg-color-newsflash-underline-check-menu 3px ;
        padding-bottom: 5px;
        display: flex;
        flex-flow: wrap row;
        gap: 20px;
        margin: 5px;
    }
}
.fa-spinner{
    color:$color-functional-icon;
    transform: rotate(360deg);
}
.bloc__restaurant{
    display:flex;
    flex-flow:wrap column;
    padding: 40px 20px;
}
.bloc__menu{
    display:flex;
    flex-flow:wrap column;
    flex-basis: 100%;
    padding: 0px 10px;    
}
.card{
    height:280px;
    @include border-shadow-radius;
    margin: 15px 0px; 
    z-index: 2;
    background-color: #ffffff;
}
.card__menu{
    height:70px;
    display: flex;
    @include border-shadow-radius;
    margin: 5px 0px;
    background-color: #ffffff;
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-between; 
    padding: 0px 10px;
    cursor: pointer;    
}
.card-title{
    padding:10px 0px;
    font-size: 18px;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
    overflow: hidden;
}
.card-subtitle{
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding: 10px 0px;
    font-size: 15px;
    text-overflow: hidden;
    color: lighten($color: #000000, $amount: 30%);
}
.restaurant__Img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}
.restaurant__Heading{
    height: 50px;
    padding: 0px 10px;
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-between;        
}
.presentation{   
    line-height: 15px;
}
.presentation__menu{
    line-height: 5px;
}
.check{
    margin: 10px;
    width: 30%;
    background-color: #99E2D0;
}
.fa-check-circle{    
    display:none;
    color: invert;
    background-color: #ffffff;
    transform: rotate(0°);
    transition: rotate 200ms 1s;
    transform: rotate(180°);
    transform: scaleX(0) rotate(0°);
    transition: transform 2000ms;
        :hover {
        transform: scaleX(left 30px) rotate(180°);
    }
}
.price{
    font-size: 15px;
    text-align: center;
    position: relative;  
    font-weight: 500;
    transition: background 2000ms;
    transform: background;
}
.bg-img{
    height: 200px;
}
