.f{
    flex-basis: 100%;
    background-color: #242424;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    &__logo{
        width: 100%;
        filter: invert(100%);
        inline-size: 120px;
    }
    &__list{
        list-style-type: none;
        color: inherit;
        padding-inline-start: 0px;
        > li{
            line-height: 4vh;
        }
    }
}
.i-footer{
    color:white;
    padding-right: 10px;
    &--small{
        width: 25px;
        height: 20px;
    }
}